.nav-brand
    img
        width: 128px;
        height: 128px;
.nav-login-panel
    position: absolute;
    right: 15px;
    top: 0px;
    padding: 5px;
    border-color: #e7e7e7;
    li
        display: inline-block !important;
    .nav-btn
        padding: 5px 15px;
        background: rgba( 0, 109, 240, 1) !important;
        border-radius: 3px;
        color: white !important;
        margin: 5px;
        &:hover
            background: rgba( 0, 50, 220, .8) !important;
@media (min-width:768px)
    .nav-menu
        position: absolute;
        right: 0px;
        bottom: 0px;
    .navbar-nav 
        .open 
            .dropdown-menu
                left: -76px;
                background-color: #f8f8f8;

@media (max-width:767px)
    .collapse
        position: relative; 
        top: 0px;

.navbar-toggle
    position: relative;
    top: 75px;