@require 'globals/colors';

.nav-brand
    img
        width: 128px;
        height: 128px;
.nav-login-panel
    position: absolute;
    right: 15px;
    top: 0px;
    padding: 5px;
    border-color: border-color-footer;
    li
        display: inline-block !important;
    .nav-btn
        padding: 5px 15px;
        background: bg-color-ligthblue !important;
        border-radius: 3px;
        color: color-white !important;
        margin: 5px;
        &:hover
            background: bg-color-ligthblue-active !important;
@media (min-width:768px)
    .nav-menu
        position: absolute;
        right: 0px;
        bottom: 0px;
    .navbar-nav 
        .open 
            .dropdown-menu
                left: -76px;
                background-color: #bg-color-nav;

@media (max-width:767px)
    .collapse
        position: relative; 
        top: 0px;

.navbar-toggle
    position: relative;
    top: 75px;