@require 'globals/colors.styl';

#app-container
    margin-bottom: 20px;
a 
    &:hover
        text-decoration: none;
        color: color-active-link !important;
.isActive
    color: color-active-link !important;
    font-weight: 500;
