<li data-privacy="administrator-menu">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/admin/users/confirm" data-navigo>Confirm accounts</a></li>
    </ul>
</li>
<li data-privacy="administrator-menu">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Courses</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/admin/courses/create" data-navigo>Create course</a></li>
    </ul>
</li>