<li data-privacy="docent-menu">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Exam</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/docent/exam/questions" data-navigo>Create questions</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" href="/docent/exam/create" data-navigo>Create exam</a></li>
    </ul>
</li>
