<li data-privacy="docsecretary-menu">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Course</a>
    <ul class="dropdown-menu">
        {{#each courses}}
        <li><a class="dropdown-item" href="/docsecretary/course/{{id}}" data-navigo>{{name}}</a></li>
        {{/each}}
    </ul>
</li>
<li data-privacy="docsecretary-menu">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Exam</a>
    <ul class="dropdown-menu">
        {{#each exams}}
            <li><a class="dropdown-item" href="/docsecretary/exam/{{id}}" data-navigo>{{name}}</a></li>
        {{/each}}
    </ul>
</li>