bg-color-footer = #f8f8f8;
bg-color-nav = bg-color-footer;
bg-color-ligthblue = rgba( 0, 109, 240, 1);
bg-color-ligthblue-active = rgba( 0, 50, 220, .8);

color-white = #ffffff;
color-active-link = bg-color-ligthblue-active;

border-color-footer = #e7e7e7;


