<div class="form-group" style="display: none;">
    <label for="question-title">Question Text</label>
    <textarea name="question-title" id="question-title" rows="5" class="form-control" required></textarea>
</div>